
@model Project.Models.SettingsModel

<div class="form-horizontal">

    <div class="form-group">
        <label asp-for="AttestationPrice" class="control-label col-md-2">Attestation Price:</label>
        <div class="col-md-10">
            <input asp-for="AttestationPrice" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CommitmentPrice" class="control-label col-md-2">Commitment Price:</label>
        <div class="col-md-10">
            <input asp-for="CommitmentPrice" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConsentPrice" class="control-label col-md-2">Consent Price:</label>
        <div class="col-md-10">
            <input asp-for="ConsentPrice" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="InvitationPrice" class="control-label col-md-2">Invitation Price:</label>
        <div class="col-md-10">
            <input asp-for="InvitationPrice" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PoaPrice" class="control-label col-md-2">Poa Price:</label>
        <div class="col-md-10">
            <input asp-for="PoaPrice" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SircularyPrice" class="control-label col-md-2">Sirculary Price:</label>
        <div class="col-md-10">
            <input asp-for="SircularyPrice" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TranslationPrice" class="control-label col-md-2">Translation Price:</label>
        <div class="col-md-10">
            <input asp-for="TranslationPrice" class="form-control"/>
        </div>
    </div>

</div>
