html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Your CSS styles for the printable form */
@media print {
  /* Define print-specific styles here */
  /* For example, hide non-printable elements */
  .non-printable {
    display: none;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}